<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Byte Basket</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <h1><a href="/">Byte Basket</a></h1>
        <div class="cta">
            <a href="/products" class="btn">Products</a>
            <a href="/profile" class="btn">Profile</a>
        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <h1>Products</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <button type="submit" class="btn btn-link">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
