<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Byte Basket</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins&display=swap" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px;
        }

        th {
            background-color: #f4f4f4;
            color: #333;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <h1><a href="/">Byte Basket</a></h1>
        <div class="cta">
            <a href="/products" class="btn">Products</a>
            <a href="/login" class="btn">Sign in</a>
        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <h1>Products</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>
</body>
</html>
